.custom-table {
  :global(.ant-table-placeholder) {
    background-color: var(--chart-background) !important;

    & :hover {
      background-color: var(--chart-background) !important;
    }
  }

  :global(.ant-table-placeholder .ant-empty-description) {
    color: var(--text-color);
  }

  :global(.ant-table-tbody-virtual.ant-table-tbody) {
    background-color: var(--chart-background);
  }

  :global(.ant-table-column-sorter) {
    color: var(--text-color);
  }

  :global(.ant-table-column-sorter):hover {
    color: yellow !important;
  }

  :global(.ant-table-cell.ant-table-cell-scrollbar) {
    background-color: var(--background-color);
  }

  :global(.ant-pagination.ant-table-pagination) {
    svg {
      fill: var(--text-color);

      &:hover {
        fill: var(--button-hover-bg);
      }
    }

    a {
      color: var(--text-color);
      background-color: var(--background-color);
      border-radius: 6px;

      &:hover {
        background-color: var(--button-hover-bg);
      }
    }

    :global(.ant-pagination-item-ellipsis) {
      color: var(--text-color);
    }

    :global(.ant-select-selector) {
      color: var(--text-color);
      background-color: var(--background-color);
    }

    :global(.ant-pagination-item-active) {
      border: 1px solid var(--button-hover-bg);
    }
  }

  :global(.ant-table-body) {
    background-color: var(--chart-background);
  }
}
